@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aventa';
  src: url('../fonts/Aventa-LightPERSONALUSEONLY.woff2') format('woff2'),
    url('../fonts/Aventa-LightPERSONALUSEONLY.woff') format('woff'),
    url('../fonts/Aventa-LightPERSONALUSEONLY.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Aventa', sans-serif;
}

.title {
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 13px !important;
  color: white !important;
}

.swiper-pagination {
  all: unset !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.swiper-container {
  overflow: visible !important;
}

.custom-dot {
  width: 10px !important;
  height: 10px !important;
  margin: 0 5px !important;
  background-color: #ccc !important;
  border-radius: 50% !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
}

.custom-dot.active {
  background-color: #007aff !important;
}

.swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
  background-color: #ffffff66 !important;
}

.swiper-pagination-bullet-active {
  width: 10px !important;
  height: 10px !important;
  background-color: #ffffff !important;
}

.swiper-pagination {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

/* Custom Pagination for .custom-pagination-1 */
.custom-pagination-1 {
  all: unset !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.swiper-container {
  overflow: visible !important;
}

/* Custom Dot Styling */

.custom-pagination-1 .custom-dot {
  width: 10px !important;
  height: 10px !important;
  margin: 0 5px !important;
  background-color: #ccc !important;
  border-radius: 50% !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
}

/* Active Dot Styling */
.custom-pagination-1 .custom-dot.active {
  background-color: #007aff !important;
}

/* Pagination Bullet Styles (Default) */
.custom-pagination-1 .swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
  background-color: #f2f2f2 !important;
}

/* Pagination Bullet Styles (Active) */
.custom-pagination-1 .swiper-pagination-bullet-active {
  width: 10px !important;
  height: 10px !important;
  background-color: #ffffff !important;
}

.custom-pagination-1 {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.table-statistics:last-child {
  border-radius: 0 10px 10px 0;
}

.table-statistics:first-child {
  border-radius: 10px 0 0 10px;
}

.custom-scroll::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.change_btn {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem 1rem;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  position: relative;
  background: linear-gradient(
    187.15deg,
    rgba(255, 255, 255, 0.05) 16.19%,
    rgba(255, 255, 255, 0) 114.12%
  );
}

.change_btn.active {
  border: 1px solid rgba(72, 82, 245, 0.2) !important;
  color: #ffffff !important;
  background: #4852f50d !important;
}

.change_btn img {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  display: none;
}
.change_btn.active img {
  display: block;
}

.change__section {
  display: none; 
}
.change__section.active {
  display: block; 
}